@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 0 133 255;
  --primary-color: rgb(0, 133, 255);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-shadow {
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  }
}

@layer components {
  .text-heading {
    @apply text-white text-[64px];
  }
}
